/* 轮播图 */

.carousel {
	position: relative;
	overflow: hidden;
	width: 500px;
	height: 300px;
	margin: 0 auto;
}
.carousel ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 600%;
}
.carousel ul li {
	float: left;
}
.carousel img {
	width: 500px;
	height: 300px;
}
video {
	width: 500px;
	height: 300px;
}
/* 将音频隐藏 */
.mp3 audio {
	display: none;
}
/* 按钮外部 */
.music_btn,
.btn {
	width: 1200px;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	color: #fff;
	/* background-color: rgb(232, 232, 232); */
}
/* 按钮 */
.music_btn button,
.btn button {
	position: relative;
	width: 110px;
	height: 40px;
	border: 2px solid #999;
	border-radius: 5px;
	color: #000;
	font-weight: 600;
	background-color: #fff;
	vertical-align: middle;
	margin: 10px;
	/* box-shadow: 0 0 0  10px rgba(64,142,253); */
	transition: all 0.2s;
}
/* 鼠标移到按钮上实现视觉效果 */
.music_btn button:hover,
.btn button:hover {
	color: #408efd;
	border-color: #408efd;
}
.btn button::after,
.music_btn button::after {
	/*其他样式*/
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	opacity: 0;
	box-shadow: 0 0 0 8px rgb(64, 142, 253);
	transition: 0.3s;
}
/*点击*/
.btn button:active::after,
.music_btn button:active::after {
	box-shadow: none;
	opacity: 1;
	transition: 0s; /*取消过渡*/
}

.pause {
	color: #000;
}
